aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
asgiref==3.8.1
attrs==23.2.0
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
defusedxml==0.8.0rc2
dj-rest-auth==6.0.0
Django==5.1.1
django-allauth==65.0.2
django-cors-headers==3.13.0
django-extensions==3.2.3
django-oauth-toolkit==3.0.1
django-redis==5.4.0
django-rest-framework-social-oauth2==1.2.0
django-shell-plus==1.1.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Flask==3.0.3
frozenlist==1.4.1
idna==3.10
implicit==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
jwcrypto==1.5.6
MarkupSafe==3.0.2
multidict==6.1.0
numpy==1.26.4
oauth2_provider==0.0
oauthlib==3.2.2
pandas==2.2.3
pillow==10.4.0
propcache==0.2.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.2
RecTools==0.8.0
redis==5.1.1
requests==2.32.3
requests-oauthlib==2.0.0
scipy==1.12.0
setuptools==75.1.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
spotipy==2.24.0
sqlparse==0.5.1
threadpoolctl==3.5.0
tqdm==4.66.6
typeguard==4.4.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.6
yarl==1.15.2
